<label>Title</label>
<input type="text" name="name" value="<%= book.title %>">
<label for="">Author</label>
<select name="author" id="">
    <% authors.forEach(author => { %>
        <% if (author.id === book.author) { %>
            <option selected value="<%= author.id %>" label="<%= author.name %>"><%= author.name %></option>
        <% } else { %>
            <option value="<%= author.id %>" label="<%= author.name %>"><%= author.name %></option>
        <% } %>
    <% }); %>
</select>
 